@using Findparts.Core
@using Findparts.Models.Subscriber
@model SubscriberNewUserViewModel
@{
    ViewBag.Title = "Users";
    ViewBag.ActiveTab = SubscriberActiveTab.UsersTab;
}

<br/>
@using (Html.BeginForm("NewUser", "Subscriber", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.VendorID)
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="@Model.Email">Email <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter email address to create a New User."></span></label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            @if (Model.VendorID != null)
            {
                <div class="form-group">
                    <label class="styled-checkbox">
                        <input type="checkbox" value="true" name="VendorAdmin" /><span></span><i>Vendor Admin</i>
                    </label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Allow New User to Edit Vendor Info, Upload Capabilities, Upload Workscope Icons, &amp; Quote Incoming @Config.PortalName RFQs"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-spacer" value="Create" />
                <a class="btn btn-default btn-spacer" href="@Url.Action("Users")">Cancel</a>
            </div>
        </div>
    </div>
}