
@section styles
{
    @Styles.Render("~/Content/dist/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/dist/css/fixedHeader.bootstrap.min.css")
    @Styles.Render("~/Content/dist/css/rowGroup.bootstrap.css")
    <style>
        #subscribers-table tr > td:nth-child(4) {
            white-space: nowrap;
        }
    </style>
}

<div>

    <table id="subscribers-table" class="table table-condensed">
        <thead>
            <tr role="row">
                <th>Subscriber</th>
                <th>Email</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Activated Date</th>
                <th>Profile Fields</th>
                <th>Member Level</th>
                <th>Search Count</th>
                <th>Invoice Count</th>
                <th>Users</th>
                <th>List Invoice</th>
                <th>RFQs Sent</th>
                <th>Quote Count</th>
                <th><span class='glyphicon glyphicon-star'></span></th>
                <th><span class='glyphicon glyphicon-ban-circle'></span></th>
                <th>Times<span class='glyphicon glyphicon-ban-circle'></span>d</th>
                <th>MRO</th>
                <th>Email Domains</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/dataTables.fixedHeader.min.js")
    @Scripts.Render("~/Scripts/dataTables.rowGroup.js")
<script type="text/javascript">
    $(function () {
        InitializeAdminScbscribersTable();
    });
   
</script>
}