
@section styles
{
    @Styles.Render("~/Content/dist/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/dist/css/fixedHeader.bootstrap.min.css")
    @Styles.Render("~/Content/dist/css/rowGroup.bootstrap.css")
    <style>
        
        #vendors-table tr>td:nth-child(5) {
            white-space: nowrap;
        }
    </style>
}

<div>

    <table id="vendors-table" class="table table-condensed">
        <thead>
            <tr role="row">
                <th>Vendor</th>
                <th>Email</th>
                <th>Back-Channel Link</th>
                <th>Status</th>
                <th>Created Date</th>
                <th>Activated Date</th>
                <th>Profile Fields</th>
                <th>Mute Status</th>
                <th>Lists Need <span class='glyphicon glyphicon-thumbs-up'></span></th>
                <th>Lists <span class='glyphicon glyphicon-thumbs-up'></span></th>
                <th>Workscope icons Need <span class='glyphicon glyphicon-thumbs-up'></span></th>
                <th>Workscope icons <span class='glyphicon glyphicon-thumbs-up'></span></th>
                <th>Last List <span class='glyphicon glyphicon-thumbs-up'></span></th>
                <th>RFQ Count</th>
                <th>Quotes Sent</th>
                <th>Parts</th>
                <th>Workscope Icon Parts</th>
                <th>OEM</th>
                <th><span class='glyphicon glyphicon-star'></span></th>
                <th><span class='glyphicon glyphicon-ban-circle'></span></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/dataTables.fixedHeader.min.js")
    @Scripts.Render("~/Scripts/dataTables.rowGroup.js")
    <script type="text/javascript">
        $(function () {
            InitializeAdminVendorsTable();
        });
    </script>
}