@using Findparts.Core
<div class="container">
    <div class="row">
        @*<div class="col-xs-12 col-sm-4 copy">
            &copy; @DateTime.Now.Year - @Config.PortalName
        </div>*@
        <div class="col-12 links">
            <ul>
                <li><a href="@Config.WeavyUrl">Home</a></li>
                <li><a href="@Config.WeavyUrl/spaces">Spaces</a></li>
                <li><a href="@Config.WeavyUrl/people">People</a></li>
                <li><a href="@Config.FindPartsLink">FindParts</a></li>
                <li><a href="@Config.MROFinderLink">MROfinder</a></li>
                <li><a href="@Config.WeavyUrl/messenger">Messenger</a></li>
            </ul>
        </div>
    </div>
</div>

