
@model Findparts.Models.HomePageViewModel


@section header {
    <meta name="description" content="Search any aircraft part in seconds. Search millions of MRO capabilities by aircraft part number. Find component MROs to Test, Repair & Overhaul aircraft parts. | MRO FINDER | @Html.Raw("@")MROFINDER.aero | #MROFINDER | MROFINDER.aero">
    <meta name="keywords" content="MROfinder, MRO FINDER, MRO-finder">

}

<div id="divMerits" class="merits">
    <h3 style="color:#0091b2"><span style="font-size:34px;">@Model.SpanVendorCount</span> MROs Are Listing <span style="font-size:34px;">@Model.SpanPartCount</span> Capabilities</h3>
    <br /><br />
    <div class="wrapper">
        @foreach (var item in Model.Merits)
        {
            <div class="merit">
                <img src="~/Content/dist/images/@(item.Icon).png" style="width:100px;height:100px;" />
                <span class="name">@item.Name</span>            
                @{/* <span class="desc">@item.Description</span> */}
            </div>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <script src="https://fast.wistia.com/embed/medias/xg3o6ut456.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <div class="wistia_embed wistia_async_xg3o6ut456 videoFoam=true" style="height:100%;position:relative;width:100%">
                            <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                <img src="https://fast.wistia.com/embed/medias/xg3o6ut456/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>
<div style="background-color:#efefef">
    <div class="recent-search">
        <span class="title">What Other Users are Searching:</span>
        <ul>
            @foreach (var searchTerm in Model.RecentSearches)
            {
                <li><a href="parts?search=@HttpUtility.UrlEncode(searchTerm)">@searchTerm</a></li>
            }
        </ul>
    </div>
    <div class="container" id="divBottomVideo" @if (User.Identity.IsAuthenticated) {<text>style="display:none;"</text>}>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <img src="~/Content/dist/images/MRO-Finder-Brand-Promise.jpg" style="width:100%;" /><br /><br />
            </div>
        </div>
        <h3 style="color:#0091b2">FIND COMPONENT MROs to TEST, REPAIR & OVERHAUL AIRCRAFT PARTS</h3>
        <br />
    </div>
</div>
